<div class="modal-dialog">
    <div class="modal-content">
        <header class="modal-header">
            <div class="modal-title">THEM THUOC</div>
            <span class="close" data-dismiss="modal"><i class="fa fa-times"></i></span>
        </header>
        <div class="modal-body">
            <form action="#" class="form">
                <div class="form-group">
                    <label for="thuoc--edit-mathuoc">Ma Thuoc</label>
                    <input class="form-control" type="text" id="thuoc--edit-mathuoc" name='ma'>
                </div>
                <div class="form-group">
                    <label for="thuoc--edit-tenthuoc">Ten Thuoc</label>
                    <input class="form-control" type="text" id="thuoc--edit-tenthuoc" name='ten'>
                </div>
                <div class="form-group">
                    <label for="thuoc--edit-ncc">Nha cung cap</label>
                    <input class="form-control" type="text" id="thuoc--edit-ncc" name='ncc'>
                </div>
                <div class="form-group">
                    <label for="thuoc--edit-sl">So Luong</label>
                    <input class="form-control" type="number" id="thuoc--edit-sl" name='so_luong'>
                </div>
                <div class="form-group">
                    <label for="thuoc--edit-tonggia">Tong Gia</label>
                    <input class="form-control" type="text" id="thuoc--edit-tonggia" name='tonggia'>
                </div>
                <button class="btn btn-outline-primary">CAP NHAT</button>
            </form>
        </div>
    </div>
</div>