<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-primary text-light">
            <h3>ĐIỀU CHỈNH GÍA</h3>
            <span class="close" data-dismiss='modal'><i class="fa fa-times"></i></span>
        </div>
        <form id="thuoc--edit-price-form" action="#" class="modal-body form">
            <div class="form-group">
                <label for="thuoc--edit-mathuoc">Mã thuốc</label>
                <input class="form-control" requried disabled type="text" id="thuoc--edit-price-mathuoc" name='ma_thuoc'>
            </div>
            <div class="form-group">
                <label for="thuoc--edit-tenthuoc">Tên thuốc</label>
                <input class="form-control" disabled type="text" id="thuoc--edit-price-tenthuoc" name='ten'>
            </div>
            <div class="form-group">
                <label for="">Giá điều chỉnh</label>
                <input class="form-control" type="number" required name="price" id="thuoc--edit-price-gia">
            </div>
            <button class="btn btn-outline-primary">CAP NHAT</button>
        </form>
    </div>
</div>