<div class="modal-dialog">
    <div class="modal-content">
        <header class="modal-header bg-warning text-dark">
            <div class="modal-title">NHAP MOI THUOC</div>
            <span class="close" data-dismiss="modal"><i class="fa fa-times"></i></span>
        </header>
        <div class="modal-body">
            <form action="#" class="form">
                <div class="form-group">
                    <label for="">Mã thuốc</label>
                    <input class="form-control" type="text" required autofocus name="ma">
                </div>
                <div class="form-group">
                    <label for="">Tên Thuốc</label>
                    <input type="text" required class="form-control" name="ten">
                </div>
                <div class="form-group">
                    <label for="">Nhà cung cấp</label>
                    <input type="text" required class="form-control" name="ncc">
                </div>
                <div class="form-group">
                    <label for="">Đơn vị</label>
                    <select name="id_don_vi" id="" class="custom-select" required component="DonVi"></select>
                </div>
                <div class="form-group">
                    <label for="">Viết tắt</label>
                    <input type="text" class="form-control" name="viet_tat" required>
                </div>
                <div class="form-group">
                    <label for="">Số lượng ban đầu</label>
                    <input type="number" required class="form-control" name="so_luong_ban_dau" step=1 min=1>
                </div>
                <div class="form-group">
                    <label for="">Đơn giá bán ban đầu</label>
                    <input type="text" required class="form-control" name="don_gia_ban_dau" step=1 min=1>
                </div>
                <button class="btn btn-outline-warning">THÊM MỚI</button>
            </form>
        </div>
    </div>
</div>