<div class="modal-dialog">
    <div class="modal-content">
        <header class="modal-header bg-success text-light">
            <div class="modal-title">THEM THUOC</div>
            <span class="close" data-dismiss="modal"><i class="fa fa-times"></i></span>
        </header>
        <div class="modal-body">
            <form action="#" class="form">
                <div class="form-group">
                    <label for="">Ma Thuoc</label>
                    <input class="form-control" disabled type="text" id="thuoc--add-mathuoc" name='ma'>
                </div>
                <div class="form-group">
                    <label for="">Ten Thuoc</label>
                    <input class="form-control" disabled type="text" id="thuoc--add-tenthuoc" name='ten'>
                </div>
                <div class="form-group">
                    <label for="">So Luong</label>
                    <input class="form-control" type="number" id="thuoc--add-sl" name='so_luong'>
                </div>
                <div class="form-group">
                    <label for="">Tong Gia</label>
                    <input class="form-control" type="text" id="thuoc--add-tonggia" name='tonggia'>
                </div>
                <button class="btn btn-outline-primary">CAP NHAT</button>
            </form>
        </div>
    </div>
</div>