<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-light">
                <h3>EDIT THUOC</h3>
                <span class="close" data-dismiss='modal'><i class="fa fa-times"></i></span>
            </div>
            <form id="thuoc--edit-form" action="#" class="modal-body form" id_value="">
                <div class="form-group">
                    <label for="thuoc--edit-mathuoc">Ma Thuoc</label>
                    <input class="form-control" type="text" id="thuoc--edit-mathuoc" name='ma'>
                </div>
                <div class="form-group">
                    <label for="thuoc--edit-tenthuoc">Ten Thuoc</label>
                    <input class="form-control" type="text" id="thuoc--edit-tenthuoc" name='ten'>
                </div>
                <div class="form-group">
                    <label for="">Đơn Vị</label>
                    <select name="id_don_vi" component="DonVi" class="custom-select"></select>
                </div>
                <div class="form-group">
                    <label for="thuoc--edit-ncc">Nha cung cap</label>
                    <input class="form-control" type="text" id="thuoc--edit-ncc" name='ncc'>
                </div>
                <button class="btn btn-outline-primary">CAP NHAT</button>
            </form>
        </div>
    </div>