.my-autocomplete {
    position: fixed;
    padding: 0;
    background: #fff;
    z-index: 9999;

    li {
        list-style: none;
        display: table;
        table-layout: fixed;
        width: 100%;
        transition: 0.2s;

        > div {
            display: table-cell;
        }

        &:hover, &.active {
            cursor: pointer;
            background: #333;
            color: #ccc;
        }
    }
}