.table-view {
  display: flex;
  flex-direction: column;
  overflow: auto;

  tbody, thead {
    display: flex;
    flex-direction: column;
  }
  tr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  tbody {
    overflow: auto;
    max-height: 60vh;

    tr.active {
      background-color: var(--dark);
      color: var(--light);
    }
  }
}